.user_message {
  color: white;
}

.server_message {
  color: pink;
}

.error_message {
  color: red;
}

.broadcast_message {
  color: cyan;
}

.private_message {
  color: lime;
}

.spoiler {
  color: gray; 
  background-color: gray;
}

.spoiler:hover {
  color: white; 
  background-color: black;
}
