html, body {
  height: 100%;
  margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
  min-height: 100%; 
}

body {
  background-color: white;
}

.topnav {
    background-color: #ddd;
    overflow: hidden;
}

.topnav a {
    height: 100%;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 17px;
}

.navactive {
    background-color: #999;
    color: white;
}

.topnav a:hover {
    background-color: #333;
    color: white;
}

.chatarea {
    background-color: #333;
    color: white;
}

.inventoryli:hover {
	background-color: silver;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.modalclose {
    color: #aaaaaa;
    float: right;
}

.modalclose:hover,
.modalclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* stretchable draggable windows */
.draghandle_inactive {
    position: absolute;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: move;
    z-index: 10;
    background-color: #1010F3;
    color: #fff;
}

.draghandle {
    position: absolute;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.drag {
    position: absolute;
	background-color: white;

    border: 2px solid;
    resize: both;
    overflow: auto;
}
