.user_message {
  color: white;
}

.spoof_message {
  color: white;
}

.spoof_name {
  font-size: 10px;
  color: silver;
}

.ooc_message {
  color: silver;
}

.server_message {
  color: pink;
}

.error_message {
  color: red;
}

.broadcast_message {
  color: cyan;
}

.private_message {
  color: lime;
}

.secret_message {
  color: DeepPink;
}

.status_change {
  color: silver;
}

.spoiler {
  color: gray; 
  background-color: gray;
}

.spoiler:hover {
  color: white; 
  background-color: black;
}

.timestamp {
  font-size: 10px;
  color: silver;
}
